# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.
TZ="Asia/Ho_Chi_Minh"
PORT=4000
NODE_ENV="development"

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# DATABASE_URL="file:./db.sqlite"
DATABASE_URL="mongodb://root:diginext@localhost:27017/diginext-site?authSource=admin&replicaSet=rs0"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:4000"

# Digital Ocean API Access Token
DO_API_ACCESS_TOKEN=

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# PUBLIC VARS of NEXT.JS
NEXT_PUBLIC_ENV="development"
NEXT_PUBLIC_DOMAIN=localhost:3000
NEXT_PUBLIC_BASE_PATH=
